QDialog {
  background: qlineargradient(
    x1: 0,
    y1: 0,
    x2: 0,
    y2: 1,
    stop: 0 #66ffff,
    stop: 1 #3399ff
  );
}
QPushButton#btn1 {
  background-color: black;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 120px;
  height: 40px;
  font-size: 20px;
}

QPushButton#btn1:hover {
  color: cyan;
}

QLabel#head {
  font-size: 40px;
  color: rgb(218, 18, 175);
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline;
}
QLabel#feedback {
  font-size: 20px;
  padding-left: 200px;
}

QLineEdit {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
  color: black;
  padding-left: 10px;
}
QLineEdit:focus {
  border: none;
  border-bottom: 2px solid black;
}

QRadioButton::indicator {
  width: 30px;
  height: 30px;
}
QRadioButton {
  font-size: 20px;
  background-color: transparent;
}
